{% extends 'base1.html' %} {% block body %}
<div class="col-md-12 content-section animated" !important>
  <header class="text-center mb-5">
    <h1>Medscan</h1>
    <h2>Smart & Creative</h2>
  </header>
  <main class="justify-content">
    <p align="justify">
      Somos un grupo de jóvenes estudiantes con la meta de evolucionar lo que se
      conoce hoy en día como la medicina. ¿Como haremos esto? Desarrollando un
      aplicativo web basado en técnicas de inteligencia profunda (AI) capaz de
      mejorar los diagnósticos clínicos por medio del análisis digital de los
      Rayos X.
    </p>
    <h3 class=" mb-4">Integrantes</h3>
    <div>
      <div class="article-metadata mb-3">
        <h4>Edmundo Salamanca</h4>
        <p align="justify">
          Emprendedor y visionario. Amante del sonido desde su explicación física
          hasta la producción de esta. Intereses diversos como la Mecatrónica,
          Diseño Digital, Web Designer, Música, entre otros.
        </p>
        <div class="d-flex justify-content-start mb-3">
          <a target="_blank" href="https://www.facebook.com/edmundoxavier.salamancavilla" class="mx-2"
            style="text-decoration:none;color:#444444"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/edmundo0994" class="mx-2"
            style="text-decoration:none;color:#444444"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://twitter.com/Edmundo0731" class="mx-2"
            style="text-decoration:none;color:#444444;"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="article-metadata mb-3">
        <h4>Santiago Yunes</h4>
        <p align="justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          eius dolorem odio minima blanditiis ex deleniti debitis voluptates
          consequuntur repellendus asperiores at, voluptatum repellat distinctio
          provident, nemo ratione sint necessitatibus!
        </p>
        <div class="d-flex justify-content-start mb-3">
          <a target="_blank" href="https://www.facebook.com/santiago.yunes98" class="mx-2"
            style="text-decoration:none;color:#444444"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/santiagoyunes98" class="mx-2"
            style="text-decoration:none;color:#444444"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://twitter.com/s_yunes_11" class="mx-2"
            style="text-decoration:none;color:#444444;"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="article-metadata mb-3">
        <h4>Andrés Torres</h4>
        <p align="justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          eius dolorem odio minima blanditiis ex deleniti debitis voluptates
          consequuntur repellendus asperiores at, voluptatum repellat distinctio
          provident, nemo ratione sint necessitatibus!
        </p>
        <div class="d-flex justify-content-start mb-3">
          <a target="_blank" href="https://www.facebook.com/andriu.spetsnaz" class="mx-2"
            style="text-decoration:none;color:#444444"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/andre.1313" class="mx-2"
            style="text-decoration:none;color:#444444"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://kit.fontawesome.com/c6a46d5ed8.js" crossorigin="anonymous"></script>


{% endblock %}