{% extends 'base.html' %}
{% block body %}
<div class="content-section animated fadeInUp">
    <form method="POST" action="" enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="d-flex flex-row flex-wrap">
                <div class="form-group flex-fill">
                    {{form.apellido_paciente.label(class="form-control-label")}} {% if
            form.apellido_paciente.errors %} {{ form.apellido_paciente(class="form-control
            form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.apellido_paciente.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.apellido_paciente(class="form-control form-control-lg") }} {%
            endif %}
                </div>
                <div class="form-group flex-fill">
                    {{form.nombre_paciente.label(class="form-control-label")}} {% if
          form.nombre_paciente.errors %} {{ form.nombre_paciente(class="form-control
          form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.nombre_paciente.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.nombre_paciente(class="form-control form-control-lg") }} {%
          endif %}
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <div class="form-group flex-fill">
                    {{form.cedula.label(class="form-control-label")}} {% if
                form.cedula.errors %} {{ form.cedula(class="form-control
                form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.cedula.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.cedula(class="form-control form-control-lg") }} {%
                endif %}
                </div>
                <div class="form-group flex-fill">
                    {{form.edad.label(class="form-control-label")}}{% if
                form.edad.errors %} {{ form.edad(class="form-control
                form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.edad.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.edad(class="form-control form-control-lg") }} {%
                endif %}
                </div>
            </div>
            {% if empresa %}
            <div class="form-group">
                {{form.empresa.label(class="form-control-label")}} {% if
            form.empresa.errors %} {{ form.empresa(class="form-control
            form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.empresa.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.empresa(class="form-control form-control-lg") }} {%
            endif %}
            </div>
            {% endif %}
            {% if paquete %}
            <div class="form-group">
                {{form.paquete.label(class="form-control-label")}} {% if
            form.paquete.errors %} {{ form.paquete(class="form-control
            form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.paquete.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.paquete(class="form-control form-control-lg") }} {%
            endif %}
            </div>
            {% endif %}
            <div class="form-group">
                {{form.titulo.label(class="form-control-label")}} {% if
          form.titulo.errors %} {{ form.titulo(class="form-control
          form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.titulo.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.titulo(class="form-control form-control-lg") }} {%
          endif %}
            </div>
            <div>
                {{form.noExamen.label(class="form-control-label")}} <a href="#" role="button" data-toggle="collapse"
                    data-target="#text-noexam" aria-controls="navbarToggle" aria-label="Toggle navigation"
                    aria-expanded="false" class="list-group-item-light navbar-toggler collapsed">...</a>
                <div id="text-noexam" class="mt-1 collapse navbar-collapse mb-3">
                    {% if form.noExamen.errors %} {{ form.noExamen(class="form-control
                        form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.noExamen.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.noExamen(class="form-control form-control-lg") }} {%
                    endif %}
                </div>
            </div>
            {% if colaborador %}
            <div class="form-group">
                {{form.colaborador.label(class="form-control-label")}}{% if
            form.colaborador.errors %} {{ form.colaborador(class="form-control
            form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.colaborador.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.colaborador(class="form-control form-control-lg") }} {%
            endif %}
            </div>
            {% endif %}
            <div class="form-group">
                {{form.nombre_doctor.label(class="form-control-label")}} {% if
            form.nombre_doctor.errors %} {{ form.nombre_doctor(class="form-control
            form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.nombre_doctor.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %} {{ form.nombre_doctor(class="form-control form-control-lg") }} {%
            endif %}
            </div>
            <div>
                {{form.contenido.label(class="form-control-label")}} <a href="#" role="button" data-toggle="collapse"
                    data-target="#text-sint" aria-controls="navbarToggle" aria-label="Toggle navigation"
                    aria-expanded="false" class="list-group-item-light navbar-toggler collapsed">...</a>
                <div id="text-sint" class="collapse navbar-collapse mb-3">
                    {% if form.contenido.errors %} {{ form.contenido(class="form-control
                form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.contenido.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.contenido(class="form-control form-control-lg") }} {%
            endif %}
                </div>
            </div>
            <div>
                {{form.diagnostico.label(class="form-control-label")}}<a href="#" role="button" data-toggle="collapse"
                    data-target="#text-diag" aria-controls="navbarToggle" aria-label="Toggle navigation"
                    aria-expanded="false" class="list-group-item-light navbar-toggler collapsed">...</a>
                <div id="text-diag" class="collapse navbar-collapse mb-3">
                    {% if form.diagnostico.errors %}{{ form.diagnostico(class="form-control
                    form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.diagnostico.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.diagnostico(class="form-control form-control-lg") }} {%
                    endif %}
                </div>
            </div>
            <div>
                {{form.comentarios.label(class="form-control-label")}}<a href="#" role="button" data-toggle="collapse"
                    data-target="#text-com" aria-controls="navbarToggle" aria-label="Toggle navigation"
                    aria-expanded="false" class="list-group-item-light navbar-toggler collapsed">...</a>
                <div id="text-com" class="mt-1 collapse navbar-collapse mb-3">
                    {% if form.comentarios.errors %} {{ form.comentarios(class="form-control
                form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.comentarios.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ form.comentarios(class="form-control form-control-lg") }} {%
            endif %}
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <h3>Cargar archivos:</h3>
            <div class="form-group">
                {{ form.archivo.label() }}
                {{ form.archivo(class='form-control-file') }}
                {% if form.archivo.errors %}
                {% for error in form.archivo.errors %}
                <span class='text-danger'>{{ error }}</span></br>
                {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class = "btn btn-outline-info")}}
        </div>
    </form>

</div>

{% endblock %}