{%extends 'base.html'%} {%block body%}
{% if vacio_paquetes %}
<div class="media content-section animated bounceInDown fast">
    <div class ="article-metadata">
        <h3>No tienes paquetes disponibles porfavor ingresa uno!</h3>
        <a class="nav-item nav-link btn btn-success" href="{{url_for('new_paquete')}}">Nuevo Paquete</a>
    </div>

</div>
{% else %}
{%for paquete in paquetes%}

<article class="media content-section animated bounceInDown fast">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title">{{ paquete.nombre }}</h2>
            <a class='btn btn-secondary btn-sm mt-1 mb-1 mr-2 p-2'
                href="{{url_for('actualizar_paquete', _id = paquete._id)}}">Actualizar</a>
            <button type="button" class='btn btn-danger btn-sm mt-1 mb-1 ml-1 p-2' data-toggle="modal"
                data-target="#deleteModal">Borrar</button>
        </div>
        <h2>Examenes:</h2>
        <div align="justify" class = "media content-section animated fadeInUp ">
            
                {% for examen in paquete.examenes %}
                {{examen+' - '}}
                {% endfor %}
         </div>
    </div>
</article>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Borrar Paquete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Seguro desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <form action="{{url_for('borrar_paquete', _id = paquete._id)}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Borrar">
                </form>
            </div>
        </div>
    </div>
</div>
{%endfor%}
<!-- {% for page in pages %}
{% if page %}
{% if current_page == page %}
<a class="btn btn-info mb-4" href="{{url_for('paquetes', page=page)}}"> {{page}}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{url_for('paquetes', page=page)}}"> {{page}}</a>
{% endif %}
{% else %}
·
{% endif %}
{% endfor %} -->
{% endif %}
{% endblock %}
